<div class="main">
    <div [class]="show()">
        <div class="form">
            <button (click)="clickButton(1,0)" [disabled]="isSearch">Add new</button>
            <form (ngSubmit)="search(formSearch)" #formSearch="ngForm">
                <label>Tên:</label><input type="text" name="name" ngModel required>
                <label>Phone:</label><input type="text" name="phone" ngModel required>
                <label>Ngày sinh:</label><input type="date" name="birthday" ngModel required>
                <button [disabled]="formSearch.invalid">Search</button>
                <button *ngIf="isSearch" (click)="cancel();">Cancel</button>
            </form>
        </div>
        <div class="teacher-body">
            <table>
                <tr class="first-tr">
                    <th>#</th>
                    <th>Tên</th>
                    <th>Khoa</th>
                    <th>Phone</th>
                    <th>Mail</th>
                    <th>Ngày sinh</th>
                </tr>
                <tr *ngIf="isNullData" class="nulldata">
                    <td colspan="6">KHÔNG CÓ DỮ LIỆU TƯƠNG ỨNG TỒN TẠI</td>
                </tr>
                <ng-container *ngFor="let teacher of teachers; let i = index">
                    <tr *ngFor="let data of teacher.data; let j = index; let l = count">
                        <ng-container [ngSwitch]="j">
                            <ng-container *ngSwitchCase="0">
                                <td>{{data.index}}</td>
                                <td [ngStyle]="{'background-color': isShow == true && data.id == idStyle ? '#ACF5E1' : ''}" (click)="clickButton(2,data.id);">{{data.name | uppercase}}</td>
                                <td [rowSpan]="l">{{facultys[data.khoa-1].name}}</td>
                                <td>{{data.phone}}</td>
                                <td>{{data.mail}}</td>
                                <td>{{data.birthday | date:"yyyy/MM/dd"}}</td>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <td>{{data.index}}</td>
                                <td [ngStyle]="{'background-color': isShow == true && data.id == idStyle ? '#ACF5E1' : ''}" (click)="clickButton(2,data.id)">{{data.name | uppercase}}</td>
                                <td>{{data.phone}}</td>
                                <td>{{data.mail}}</td>
                                <td>{{data.birthday | date:"yyyy/MM/dd"}}</td>
                            </ng-container>
                        </ng-container>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
    <div *ngIf="isShow" class="popup">
        <button class="button-x" (click)="isShow=false">X</button>
        <form>
            <p>
                <label>Tên:</label><input type="text" name="teacherInfo.name" [(ngModel)]="teacherInfo.name"><br>
            </p>
            <p>
                <label>Phone:</label><input type="text" name="teacherInfo.phone" [(ngModel)]="teacherInfo.phone"><br>
            </p>
            <p>
                <label>Mail:</label><input type="text" name="teacherInfo.mail" [(ngModel)]="teacherInfo.mail"><br>
            </p>
            <p>
                <label>Ngày sinh:</label><input type="date" name="teacherInfo.birthday" [(ngModel)]="teacherInfo.birthday"><br>
            </p>
            <p>
                <label>Khoa:</label>
                <select [(ngModel)]="teacherInfo.khoa" name="khoa">
                        <option *ngFor="let khoa of facultys" value="{{ khoa.id }}">{{khoa.name}}</option>
                </select>
            </p>
            <button class="button-save" (click)="isShowEdit ? editTeacher(teacherInfo.id) : addTeacher()">Save</button>
        </form>

    </div>
</div>