    .main {
        background-color: #E8E8E8;
    }
    
    .teacher-body table,
    th,
    td {
        border: 1px solid;
    }
    
    .teacher-body table {
        border-collapse: collapse;
        width: 95%;
        margin-left: 10px;
        background-color: white;
    }
    
    .teacher-body table tr:nth-child(odd) {
        background: #E8E8E8;
    }
    
    .teacher-body table tr {
        height: 30px;
    }
    
    .first-tr {
        background-color: white !important;
    }
    
    th {
        font-weight: bold;
    }
    
    .form {
        height: 100px;
    }
    
    .form button {
        background-color: white;
        height: 30px;
        border: none;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .form form {
        text-align: center;
    }
    
    .form form input {
        margin-right: 5px;
        height: 25px;
        border: none;
    }
    
    .container-show {
        background-color: #E8E8E8;
        width: 69.8%;
        float: left;
        border-right: 2px solid #8797B8;
    }
    
    .container {
        background-color: #E8E8E8;
    }
    
    .popup {
        float: right;
        width: 30%;
        background-color: #E8E8E8;
        height: 521px;
    }
    
    .button-x {
        display: inline-block;
        text-align: center;
        margin-left: 92%;
        margin-top: 10px;
        background-color: white;
        border: none;
    }
    
    .button-save {
        display: inline-block;
        text-align: center;
        margin-left: 86%;
        margin-top: 10px;
        height: 23px;
        background-color: white;
        border: none;
    }
    
    .popup form {
        display: table;
        margin-left: 40px;
        margin-top: 22px;
    }
    
    .popup form p {
        display: table-row;
    }
    
    .popup form input {
        display: table-cell;
        margin-bottom: 15px;
        margin-left: 10px;
        width: 180px;
    }
    
    .popup form select {
        display: table-cell;
        margin-bottom: 15px;
        margin-left: 10px;
        height: 22px;
        width: 180px;
    }
    
    .popup form label {
        display: table-cell;
    }