.main {
    background-color: #E8E8E8;
}
table, th, td {
    border: 1px solid;
}
table {
    border-collapse: collapse;
    width: 95%;
    margin-left: 10px;
    background-color: white;
}
tr:nth-child(odd){
    background: #E8E8E8;
  }
tr {
    height: 30px;
}
.first-tr {
    background-color: white !important;
}
th {
    font-weight: bold;
}