<div class="main">
    <div [class]="show()">
        <div class="student-body">
            <button>Add new</button>
            <table>
                <tr class="first-tr ">
                    <th>Tên</th>
                    <th>Khoa</th>
                    <th>Lớp</th>
                    <th>Ngày sinh</th>
                </tr>
                <ng-container *ngFor="let khoa of khoas ">
                    <tr>
                        <td colspan="4 " class="dropdowm " (click)="getClass(khoa.id)">
                            {{khoa.name}}
                        </td>
                    </tr>
                    <ng-container *ngIf="khoa.id==idKhoa && isShowLop ">
                        <ng-container *ngFor=" let lop of lopArrays ">
                            <tr>
                                <td class="second-tr" colspan="4 " (click)="ShowStudent(lop.id)">
                                    {{lop.name}}
                                </td>
                            </tr>
                            <ng-container *ngFor="let sinhvien of sinhviens ">
                                <tr *ngIf="sinhvien.lop == lop.id && idLop == lop.id && sinhvien.khoa == khoa.id && isShowStudent" (click)="clickButtonEdit(); getStudentInfo(sinhvien.id)">
                                    <td>
                                        {{sinhvien.name}}
                                    </td>
                                    <td>
                                        {{khoa.name}}
                                    </td>
                                    <td>
                                        {{lops[sinhvien.lop-1].name}}
                                    </td>
                                    <td>
                                        {{sinhvien.birthday}}
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </table>
        </div>
    </div>
    <div *ngIf="isShow " class="popup-edit ">
        <button class="button-x " (click)="isShow=false ">X</button>
        <form>
            <p>
                <label>Tên:</label><input type="text " name="ten " value={{studentInfo.name}}><br>
            </p>
            <p>
                <label>Khoa:</label>
                <select>
                    <ng-container *ngFor="let khoa of khoas ">
                        <option *ngIf="studentInfo.khoa==khoa.id " selected>{{khoa.name}}</option>
                        <option *ngIf="studentInfo.khoa !=khoa.id ">{{khoa.name}}</option>
                    </ng-container>
                </select>
            </p>
            <p>
                <label>Lớp:</label><input type="text " value={{lops[studentInfo.lop-1].name}}><br>
            </p>
            <p>
                <label>Ngày sinh:</label><input type="date " value={{studentInfo.birthday}}><br>
            </p>

        </form>
        <button class="button-save ">Save</button>
    </div>
</div>