<div class="main">
    <div [class]="show()">
        <div class="student-body">
            <button (click)="clickButton(1,0)">Add new</button>
            <table>
                <tr class="first-tr ">
                    <th>Tên</th>
                    <th>Khoa</th>
                    <th>Lớp</th>
                    <th>Ngày sinh</th>
                </tr>
                <ng-container *ngFor="let khoa of khoas ">
                    <tr (click)="getClass(khoa.id)">
                        <td colspan="4 " class="dropdowm ">
                            {{khoa.name}}<span *ngIf="isShowLop[khoa.id]">▲</span><span *ngIf="!isShowLop[khoa.id]">▼</span>
                        </td>
                    </tr>
                    <ng-container *ngIf="isShowLop[khoa.id] ">
                        <ng-container *ngFor=" let lop of lopById[khoa.id] ">
                            <tr (click)="getStudent(lop.id)">
                                <td class="second-tr" colspan="4 ">
                                    {{lop.name}}<span *ngIf="isShowStudent[lop.id]">▲</span><span *ngIf="!isShowStudent[lop.id]">▼</span>
                                </td>
                            </tr>
                            <ng-container *ngIf="isShowStudent[lop.id]">
                                <ng-container *ngFor="let sinhvien of sinhvienById[lop.id] ">
                                    <tr [ngStyle]="{'background-color': isShow == true && sinhvien.id == idStyle ? '#ACF5E1' : ''}" (click)="clickButton(2,sinhvien.id)">
                                        <td>
                                            {{sinhvien.name}}
                                        </td>
                                        <td>
                                            {{khoa.name}}
                                        </td>
                                        <td>
                                            {{lops[sinhvien.lop-1].name}}
                                        </td>
                                        <td>
                                            {{sinhvien.birthday | date:"yyyy/MM/dd"}}
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </table>
        </div>
    </div>
    <div *ngIf="isShow " class="popup-edit ">
        <button class="button-x " (click)="isShow=false ">X</button>
        <form>
            <p>
                <label>Tên:</label><input type="text " name="ten " value={{studentInfo.name}}><br>
            </p>
            <p>
                <label>Khoa:</label>
                <select>
                    <ng-container *ngFor="let khoa of khoas ">
                        <option *ngIf="studentInfo.khoa==khoa.id " selected>{{khoa.name}}</option>
                        <option *ngIf="studentInfo.khoa !=khoa.id ">{{khoa.name}}</option>
                    </ng-container>
                </select>
            </p>
            <p>
                <label>Lớp:</label><input type="text " value={{lops[studentInfo.lop-1].name}}><br>
            </p>
            <p>
                <label>Ngày sinh:</label><input type="date" value={{studentInfo.birthday}}><br>
            </p>

        </form>
        <button class="button-save ">Save</button>
    </div>
</div>